{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
    {% block description %}Tidings News - This policy covers the basis upon which every personal data you provide to us and/or that which we collect from you will be handled and used by us.{% endblock %}

    {% block keywords %}Tidings News{% endblock %}

    {% block title %}Tidings News - Privacy Policy{% endblock %}

{% block content %}

    <!-- ##### Contact Form Area Start ##### -->
    <div class="contact-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% if messages %}
                    {% for message in messages %}
                  <div class="alert {{message.tags}} alert-dismissible fade show" style="margin-top:10px" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{message}}
                  </div>
                    {% endfor %}
                    <br>
                    {% endif %}
                    <div class="contact-title">
                        <h2>Privacy Policy</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="contact-form-area">
                        <p>This policy covers the footing upon which every personal data you provide to us and/or that which we collect from you will be treated by us. By visiting any of our platforms (our websites, our mails, etc.), You are concurring and giving consent to the practices described in this policy. Please, read carefully to understand our practices and how we handle your personal data.</p>
                        <br>
                        <h4>The information we collect or receive</h4>

                        <p>We collect and receive information when you use our platforms or services by subscribing to our newsletter,  submitting search queries, reading and commenting on news. Depending on how you access and/or use our platforms, we may receive:Log information (for example, information about how you use our platforms and services, the search queries you submit and the content(s) you view); <br>Information we deduce about you based on how you use our products and services; Device information (for example the type of device you’re using, how you access our platforms, your operating system and/or your browser, your Internet Protocol address); Location information (for example, your device’s GPS signal and information about nearby Wi-Fi networks and cell towers. We might get this information when you use location-enabled services).</p>
                        <br>
                        <h4>Information we receive from other sources.</h4>

                        <p>This is information about you that is publicly or commercially available or information we receive about you if you use any other websites we operate or other services we provide or employ. We may also receive information about you when you choose to connect with social networking services while using our platforms.</p>

                        <p>We are working closely with third parties (including, for example, business partners, technical contractors and sub-contractors, payment and delivery services, advertising networks, analytics providers).</p>
                        <br><br>

                        <h4>How we use the information we collect and/or receive</h4>

                        <p>We use the information we collect and receive for the following general purposes:</p>
                        <h6>Information you give to us.</h6>
                        <p> We will use this information:</p>
                        <ul style="margin-left: 1rem">
                            <li style="list-style-type:disc">to execute our obligations arising from any contracts entered into between you and us and to provide you with the information, products and/or services you request from us;</li>

                            <li style="list-style-type:disc">to provide you, or permit selected third parties to provide you, with information about goods or services we feel may interest you. Please, kindly notify us if you do not want us to use your data in this way.</li>

                            <li style="list-style-type:disc">to ensure that our contents are properly delivered to you on the devices you use</li>

                            <li style="list-style-type:disc">to provide you with information about other goods and services we offer that are similar to those that you have already purchased, enquired about, once used and/or currently using;</li>

                            <li style="list-style-type:disc">to inform you about changes to any of our services;</li>
                            
                        </ul>
                        <br><br>
                        <h6>Information we collect about you.</h6>
                        <p>We will use this information:</p>
 
                        <ul style="margin-left: 1rem">
                            <li style="list-style-type:disc">to allow you to use the interactive features of our service, when you choose to do so;</li>

                            <li style="list-style-type:disc">to improve our platforms to ensure that content is presented in the most effective manner for you and for your computer;</li>

                            <li style="list-style-type:disc">to administrate the site and for internal operations, including research, statistical purposes, data analysis, testing, troubleshooting, and survey;</li>

                            <li style="list-style-type:disc">to offer suggestions and recommendations to you and other users of our site about products or services that may interest you or them.</li>

                            <li style="list-style-type:disc">to safeguard and secure our site</li>

                            <li style="list-style-type:disc">to assess the effectiveness of advertising we serve to you and others, and to render relevant advertising to you;</li>

                        </ul>
                        <br><br>
                        <p>Also, We will combine the information we receive from other sources with information you give to us and information we collect about you. We will use these sets of information for the purposes set out above (depending on the types of information we receive).</p>

                        <br><br>
                        <h4>Disclosure of your information</h4>
                        <p>You agree that we have the right to share your personal information with: Any member of our group, which means our affiliates where applicable, Selected third parties including: business partners, sub-contractors and suppliers for the performance of any contract we enter into with you; advertisers and advertising networks that require the data to select and serve relevant adverts to you and others; analytics and search engine providers that assist us in the improvement and optimization of the site;<br> We do not disclose information about identifiable individuals to our advertisers, but we will provide them with aggregate information about our users. We may also use such aggregate information to help advertisers reach their target audience. We may make use of the personal data we have collected from you to enable us to comply with our advertisers’ wishes by displaying their advertisement to that target audience;</p>
                        <p>We do not sell your personal information to third parties for their marketing purposes. You have the right to ask us not to process your personal data for marketing purposes.</p>
                        <br><br>

                        <h4>Our dedication to security</h4>
                        <p>Although no one can guarantee the security of the information collected and received, we do employ a number of safeguards intended to mitigate the risk of unauthorized access or disclosure of your information. We will do our best to protect your personal information and we will use up to date technology that will help us to do this.</p>
                        <br><br>

                        <h4>Links to other websites and platforms</h4>
                        <p>From time to time, our site may contain links to and from the websites of our partner networks, mobile applications or services of third parties, advertisers or affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. We therefore recommend that you read these privacy policies before you submit any personal data to these websites.</p>
                        <br><br>

                        <h4>Changes to this privacy policy</h4>
                        <p>We may update this privacy policy from time to time. Any changes we make to our privacy policy will be placed on this page and, where appropriate, communicated to you in the appropriate manner.</p>
                        <br><br>

                        <h4>Contact</h4>
                        <p>Enquiries about this privacy policy should be addressed to <a href="mailto:{% company_email %}">{% company_email %}.</a></p>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <!-- Single Contact Information -->
                    <!--<div class="single-contact-information mb-30">
                        <h6>Address:</h6>
                        <p>University of Lagos</p>
                    </div>-->
                    <!-- Single Contact Information -->
                    <div class="single-contact-information mb-30">
                        <h6>Phone:</h6>
                        <p><a href="tel: +234 812 126 5056">+234 812 126 5056</a></p>
                    </div>
                    <!-- Single Contact Information -->
                    <div class="single-contact-information mb-30">
                        <h6>Email:</h6>
                        <p><a href="mailto:{% company_email %}">{% company_email %}</a></p>
                    </div>
                </div>
            </div>

            <!-- Google Maps -->
           

        </div>
    </div>
    <!-- ##### Contact Form Area End ##### -->
    {% endblock content %}